apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  name: virt-template-validator
webhooks:
- name: virt-template-admission.kubevirt.io
  clientConfig:
    service:
      name: virt-template-validator
      namespace: "{{ meta.namespace }}"
      path: "/virtualmachine-template-validate"
  rules:
    - operations: ["CREATE","UPDATE"]
      apiGroups: ["kubevirt.io"]
      apiVersions: ["v1alpha3"]
      resources: ["virtualmachines"]
  failurePolicy: Fail
